
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<p>Hello world!</p>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<script type="text/javascript">

        $.getJSON("C:\src\sum.json", function (json) {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "theme2",//theme1
                title: {
                    text: "CanvasJS Charts in ASP.Net MVC using JSON & AJAX"
                },
                data: [
                  {
                    type: "line",
                    dataPoints: json
                  }
                ]
            });

            chart.render();
        });
</script>
